body {
    padding-top: 0px;
}

.btn-group, .btn {
    margin-right: 5px
}

.btn-group .btn {
    margin-right: 1px;
}

.icon-margin-both {
    margin-left: 2px;
    margin-right: 5px;
}

.icon-margin-both-wide {
    margin-left: 5px;
    margin-right: 5px;
}

.icon-margin-left {
    margin-left: 5px
}

#content-section {
  padding-top: 64px;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
}

.hover-wrapper .show-on-hover {
    visibility: hidden;
}

.hover-wrapper:hover .show-on-hover {
    visibility: visible;
}

@media (max-width: 768px) {
    .page-header h1 {
        font-size: 2.5em;
    }
    a .btn {
        font-size: 14px;
    }
    .hover-wrapper .show-on-hover {
        visibility: visible;
    }
}

.balls {
    width: 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .balls div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
  }
  
  .balls div:nth-of-type(1) {
    transform: translateX(-100%);
    animation: left-swing 0.5s ease-in alternate infinite;
  }
  
  .balls div:nth-of-type(3) {
    transform: translateX(-95%);
    animation: right-swing 0.5s ease-out alternate infinite;
  }
  
  @keyframes left-swing {
    50%,
    100% {
      transform: translateX(95%);
    }
  }
  
  @keyframes right-swing {
    50% {
      transform: translateX(-95%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .chat-view {
    display: grid;
      width: 100vw;
      height: 80vh;
      grid-template-rows: 1fr 50px;
      grid-template-columns: 200px 1fr;
      grid-template-areas: "sidebar chat-history"
               "sidebar chat-input";
  }
  
  .sidebar {
      grid-area: sidebar;
      max-height: calc(100vh-200px);
      display: flex;
      justify-content: center;
      padding-top: 12px;
  }
  
  .chat-history {
      grid-area: chat-history;
      overflow: auto;
      padding-left: 12px;
  }
  
  .chat-input {
      grid-area: chat-input;
      width: 100%;
  }
  
  .chat-input-form {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  
  .login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  